body {
	/* background-image: url("../images/homepage-bg-old.jpg"); */
	/* font-family: 'Cormorant+Garamond', serif; */
	font-family: "Optima";
	background-color: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 0.84);
	font-size: 19px;
	padding: 0px;
	margin: 0px;
	letter-spacing: 1px;
	word-spacing: 0px;
}


/* .bg_shadow:hover {
position: relative;
-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
padding: 10px;
} */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 76px;
	z-index: 1000;
	color: #000;
	background: rgba(255, 255, 255, 1);
	border-bottom: 1px solid #d8d8d8;
	/* background: linear-gradient(45deg, #a24145, #5e46c1); */
	/* -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
	box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12); */
}

.toggle_menu {
	display: none;
	color: #950740
}

.toggle_menu.active {
	display: block;
}

.header h1 {
	text-align: center;
	padding: 6px 20px;
}

.header h2 {
	padding: 6px 20px;
	margin-top: 10px;
}
.header .fa {
	margin-top: 5px;
}

.align-h-tag {
	padding-top: 70px;
	padding-bottom: 16px;
	border-top: 1px solid #e3e3e3;
}

.content-block {
	padding-bottom: 20px;
}

.align-h-tag:first-child {
	border-top: 0px solid;
}

.navbar-brand .img-responsive, footer .img-responsive {
	width: 190px;
}

.links {
	margin-top: 78px;
	/* background: linear-gradient(45deg, #e21a22b8, #542bfb9c); */
	/* background-color: #950740; */
	border-bottom: 1px solid #d8d8d8;
    padding: 3px;
}

.links .navbar-expand-sm {
	padding-top: 0px;
	padding-bottom: 0px;
}

.links .dropdown:hover>.dropdown-menu {
	display: block;
	border-top: 0px;
	border-radius: 0px;
	min-width: 200px;
}

.links .dropdown>.dropdown-toggle:active {
	/* Without this, clicking will make it sticky*/
	pointer-events: none;
}

.links .dropdown-menu .dropdown-item:hover, .links .dropdown-menu .dropdown-item:focus {
	color: #950740;
	background-color: #d6e0e9;
}
.links .nav-item .nav-link{
	color: #000;
}

.links .nav-link:hover {
	color: #950740;
}

.links .nav-item .red_text {
	color: #950740;
}

.card {
	cursor: pointer;
	/* background-color: #8a878947; */
	border-radius: 0px;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	margin-top: 8px;
	/* border-bottom: 1px solid rgb(69, 37, 197); */
	/* -webkit-box-shadow: 0px 5px 2px -4px rgba(247, 44, 231, 0.2);
-moz-box-shadow: 0px 5px 2px -4px rgba(247, 44, 231, 0.2);
box-shadow: 0px 5px 2px -4px rgba(247, 44, 231, 0.2);
*/
	/* padding: 0px 15px;
padding-left: 0px;
padding-right: 0px; */
}

.card-body {
	padding-left: 0px;
	padding-right: 0px;
}

.card:hover {
	/* background: linear-gradient(45deg, #ad474c61, #5e46c169); */
	color: #000;
}

.card i {
	font-size: 18px;
	float: right;
}

.card:hover i {
	color: #5e46c1
}

/* a {
	color: #fff;
} */
/* 
.carousel-item {
	text-align: center;
	padding: 10px 150px 10px 150px;
	min-height: 279px;
}

.carousel-indicators li {
	background-color: #ce3b9a;
}

.carousel-indicators li.active {
	background-color: #6664bb;
} */

.related_card {
	background-color: transparent;
	width: 300px;
	height: 500px;
	perspective: 1000px;
	transition: transform .5s;
}
.related_card_body {
	width: 100%;
	height: 96%;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	border: 1px solid #e0dddd;
	padding: 10px;
	cursor: pointer;
}

.related_card_title {
	min-height: 165px;
}

.related_card_content {
	min-height: 389px;
}
/* 
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	padding: 30px 20px;
}

.flip-card-front {
	background-color: #8d4372ba;
	color: black;
}

.flip-card-back {
	background-color: #5e46c1;
	color: white;
	transform: rotateY(180deg);
}

.flip-content {
	margin-top: 50px;
	margin-bottom: 30px;
} */

.navbar-nav {
	margin-left: 21%;
	padding-left: 5px;
    padding-right: 5px;
}

.navbar {
	padding: 0;
	background-color: rgba(255, 255, 255, 1) !important;
}

.input-group-append {
    margin-left: -9px;
}

.btn-outline-secondary {
    padding: 0px 8px;
	border: 1px solid #ced4da;
	border-left: 0px;
}

.btn-outline-secondary .fa-search {
	font-size: 21px;
	margin-left: 0px;
	margin-top: 0px;
}
.mr-sm-2 {
	border-right: 0px;
}
.input-group {
	margin-top: 12px;
}

footer {
	padding: 50px 0 40px 0;
	background-color: #161e2c;
	color: #fff;
	min-height: 350px;
	line-height: 2;
}

footer .footer_details h5 {
	padding: 0 0 15px 0;
}

footer a,
footer a:hover {
	text-decoration: none;
	color: #BEC0C2;
}

footer .fas {
	color: #BEC0C2;
}

footer .bottom_content {
	text-align: center;
	padding-top: 40px;
	margin-top: 35px;
	border-top: 1px solid #464646;
}

hr {
    border: 1px solid #cacaca40;
}

.fa {
    margin-left: 40px;
    font-size: 28px;
    float: right;
}

.btm-padding {
    padding-bottom: 20px;
}

.top-padding {
    padding-top: 40px;
}

.my-photo {
    border-radius: 103px;
    width: 200px;
    height: 200px;
    margin: 36px 10px;
}

.context-menu, .tab-pane {
	min-height: 524px;
	padding: 50px 0px;
}

.nav-link {
	font-size: 16px;
}

.remove-arrow::after {
	display: none;
}

.header .container {
	cursor: pointer;
}

.nav-button {
	border-radius: 0px;
    background: #eee;
}

.nav-button:hover {
	border: 1px solid #161e2c;
    background: #fff;
}

.nav-button-blue {
	border-radius: 0px;
	background: #950740;
	color: #fff;
	border: 1px solid #950740;
}

.nav-button-blue:hover {
	border: 1px solid #950740;
	background: #fff;
	color: #950740;
}
.btm-padding.page-nav {
	margin-bottom: 30px;
}

.nav-link-tag {
	margin-bottom: 20px;
}

.nav-link-tag a{
	color: #950740;
    /* font-weight: bold; */
}

.nav-link-tag a:hover {
	text-decoration: none;
}

/* .carousel-indicators {
	position: unset;
} */

.header .container .res-menu {
	display: none;
	padding-right:10px;
}


.list-group-item {
	cursor: pointer;
	margin-bottom: 22px;
	padding-top: 15px;
	padding-bottom: 22px;
	transition: transform .5s;
	border-bottom: 0px;
    border-left: 0px;
    border-right: 0px
}

.list-group-item:not(:first-child) {
	border-top: 1px solid rgba(0,0,0,.125);
}

.list-group-item .list_content {
	font-size: 18px;
	/* padding: 20px; */
}
/* .body_content {
	width: 900px;
} */

.list-group-item:hover, .related_card:hover {
	-ms-transform: scale(1.03); /* IE 9 */
	-webkit-transform: scale(1.03); /* Safari 3-8 */
	transform: scale(1.03);   
	background-color: #fff;
}

.tab-content, .nav-link.active {
	/* background-color: #00000005 !important; */
}
.nav-tabs, .nav-link.active {
	border-bottom: 0px;
	border: 0px; 
}

.list-group-item .list_content p{
	/* padding-left: 20px; */
	margin-top: 10px;
	color: rgba(0,0,0,.54);
}
.related_card_content p {
	color: rgba(0,0,0,.54);
}
.read_more {
	font-size: 16px;
	color: #950740 !important;
}

.title_content {
	font-size: 40px;
	/* font-weight: bold; */
}

.list-group-item .title_content {
	font-size: 28px;
}

.list-group-item-action {
	color: rgba(0, 0, 0, 0.84);
}

/* .list-group-item-action:hover {
	background-color: rgba(255, 255, 255, 1);
} */
/* .list-group-item-action:hover .title_content {
	color: #950740;
} */

.uploaded_by {
	margin-top: 10px;
}
.uploaded_by img{
	background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 120px;
}

/* .content-header .h5 {
	margin-bottom: -0.6px;
} */

.content-header {
	/* background-color: #f8f9fa; */
}

.content-header, .content-block {
	/* padding-left: 20px; */
}

.user_details {
    margin-top: -50px;
    font-size: 15px;
    margin-left: 68px;
    letter-spacing: 0px;
	word-spacing: 0px;
	color: rgba(0,0,0,.54);
}

.my_alert {
	height: 348px;
	padding: 155px;
	border-radius: 0px;
	border: 0px solid;
	background-color:rgba(255, 255, 255, 1);
	color: #000;
	font-size: 20px;
}

.nav-tabs .nav-link {
	border-radius: 0px;
	border-top: 0px;
	/* width: 33.31%; */
    text-align: center;
}

.nav-tabs a {
	color: #000 !important;
}

.nav-tabs a.active {
	color: #950740 !important;
}

.nav-tabs a:hover {
	color: #950740 !important;
	border: 0px solid;
}


/* @media only screen and (min-width: 1000px) {
	.carousel-item {
		padding: 10px 150px 10px 150px;
	}
}
  
@media only screen and (max-width: 815px) {
	.carousel-indicators li {
		margin-top: 30px;
	}
} */
@media only screen and (min-width: 560px) {
	.links{
		display: block;
	}
}

@media only screen and (max-width: 560px) {
	.header {
		border-bottom: 1px solid #e8e8e8;
	}
	.header .container h1 {
		display: none;
	}
	.header .container .res-menu {
		display: block;
	}
	.links{
		display: none;
	}
	.context-menu {
		margin-top: 70px;
		min-height: 270px;
		padding: 20px 10px;
	}
	.mr-sm-2 {
		height: 34px;
		width: 129px;
		margin-right: 0px;
	}
	.navbar-brand .img-responsive, footer .img-responsive{
		width : 120px;
	}
	.offset-1 {
		margin-left : 0%;
	}
	.col-10 {
		max-width: 98.33333%;
	}
	.my_alert {
		padding: 0px;
	}
	.fa {
		margin-left: 30px;
		margin-top: 11px;
		font-size: 20px;
	}
	.related_card_title{
		font-size: 1.3em;
	}
	.related_card_content p {
		font-size: 16px;
	}
	.user_details {
		font-size: 12px;
	}
	.nav-tabs .nav-link {
		font-size: 13px;
	}
}

@media only screen and (max-width: 355px) {
	.header .container {
		padding-left: 0px;
		padding-right: 0px;
	}
	.dropdown-menu {
		font-size: 13px;
	}
}
  
@media only screen and (max-width: 320px) {
	.header .container h2, .toggle_menu {
		font-size: 28px;
	}
}
@media only screen and (max-width: 290px) {
	.header .container h2, .toggle_menu {
		font-size: 25px;
	}
}
@media only screen and (max-width: 260px) {
	.header .container h2, .toggle_menu{
		font-size: 23px;
	}
}
@media only screen and (max-width: 252px) {
	.header .container h2, .toggle_menu {
		font-size: 20px;
	}
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
